

body{
  background-image: url('/Users/Dylan/Documents/code/2.2-sass-design/skateboard-images/bg.jpg');
}
/*
.container{
  background-image: url('/Users/Dylan/Documents/code/2.2-sass-design/skateboard-images/bg.jpg');
}
*/

a { text-decoration: none; color:#A2B3BE; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.social-box{
  width: 900px;
  height: 74px;
  a{
    display: inline-block;
    height: 60px;
    width: 60px;
  }


}

.nav-bar{

  li{
    background-color: red;
    text-align: center;
    display: inline-block;
    width: 25%;
    height: 44px;
    vertical-align: middle;
    font-size: 12px;
  }



}
